name: Deploy Production After Dev Merge

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Build and export Next.js site
        run: npm run export

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Production Bucket
        run: |
          gsutil -m rsync -r build gs://www.arabsinneuro.org
          gsutil -m setmeta -h "Cache-Control:public,max-age=31536000,immutable" gs://www.arabsinneuro.org/_next/static/**
          gsutil setmeta -h "Cache-Control:no-cache, max-age=0" gs://www.arabsinneuro.org/index.html
